# Dart/Flutter specific
.dart_tool/
.metadata
.packages
.pub/
build/
web/
analysis_options.yaml
lib/main.dart
pubspec.lock

# IDEs
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Coverage
coverage/
