name: sankey_flutter
description: Flutter package for interactive Sankey diagrams with gradient links, node selection, and d3-sankey layout algorithm.
version: 0.0.3
homepage: https://github.com/Jason-Gregoire/sankey_flutter
repository: https://github.com/Jason-Gregoire/sankey_flutter
issue_tracker: https://github.com/Jason-Gregoire/sankey_flutter/issues

environment:
  sdk: ">=2.17.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  test: any

flutter:
  uses-material-design: true

